/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a:hover{
    color: rgb(61, 57, 189);
}

/* Estilos para la sección superior */
.top-section {
    background-color: #f0f0f0; 
    padding: 20px; 
    display: flex; /* Utiliza flexbox */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
}


.top-section nav{
    display: inline-block;
}

.centered-content{
    text-align: center;
    margin-right: 150px;
}

.logo-title-container{
    display: inline-block;
}

.logo {
    width: 100px; /* Ancho del logo */
    height: auto; /* Altura ajustable para mantener la proporción */
}

.top-section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-section nav ul li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.top-section nav ul li a {
    text-decoration: none; /* Elimina el subrayado */
    color: #000000; /* Cambia el color del texto */
}

.top-section nav ul li a:hover{
    color: rgb(61, 57, 189);
}


.account-button {
    float: right; /* Alinear a la derecha */
    text-decoration: none;
    color: #010101; /* Cambia el color del texto */
}

/* Estilos para la sección inferior */
.bottom-section {
    padding: 20px; /* Espaciado interno */
}



